﻿/* GLOBAL STYLE TAGS-----------------------------------------*/
html, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, blockquote, fieldset, input, img {
	margin:0;
	padding:0;
}

html {
	background: none;
	margin: 0;
}

body {	
	margin: 0;
	padding: 0;
	font-family: "proxima-nova", Arial;
	color: #636363;
	font-size: 12px;	
	line-height: 1.3em;	
	background-color: #fff;
	/*text-align: center;*/
}

table, tr, td, tbody, th {
  /*border-collapse: collapse;*/
  border-width:0;
  border-color:#fff;
  font-size: 12px;
} 

img {
	border: none;	
	max-width:100%;
	height: auto;	
}

object, embed {
	max-width: 100%;
}

hr 
{
    margin-top:75px;
    color: #F4F4F4;
}

.floatLeft {
	float: left;
}

.left{
	float: left;
	padding-left: 10px;
}

.floatRight {
	float: right;
}

.right{
	float: right;
	padding-right: 10px;
}

.clear {
    clear: both;
    overflow: hidden;
	height: 0;	
	line-height: 0;
}

h1 
{
    color: #252525;
	font-size: 40px;
	font-style:normal;
	line-height: 1.0em;
	margin-bottom: 5px;
	text-transform: uppercase;
}

h2
{	
    color: #252525;
	font-size: 27px;
	font-weight: bold;
	line-height: 1.2em;
	margin-bottom: 10px;
}

h2.red {
	color: #ee3a43;
}

h3{
	font-size: 14px;
    color: #252525;
	text-transform: uppercase;
	margin-bottom: 5px;
	
}

h3 a {
	font-size: 12px;
	color: #e51937;	
}

h3.alt{
	color: #333;
	font-weight: bold;
}

p{
	padding: 0 0 5px 0;
	line-height: 175%;
	color: #464646;
}

a:link, a:visited, a:active {
    
    color: #ee3a43;
    text-decoration:none; 
	font-size: 12px;
	font-weight: normal;
}

a:hover {
        color: #636363;
}

div.active, div.inactive:hover 
{
   color: #636363;
   display:inline;
   cursor:pointer;
}
div.inactive 
{
   color: #ee3a43;
   display:inline;
   cursor:pointer;
}

/* Other Styles */
ul{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	/*text-align: left;*/
}

ul.normal{
	list-style: outside disc;
	font-size: 14px;
	line-height: 1.4em;
	margin: -1em 0 1em 1.929em;
}
	ul.normal li{
		padding-top: 0.3em;
	}
	
.textfield{
	background-color: #f0f0f0;
	border-top: 1px solid #969696;
	border-left: 1px solid #969696;
	border-right: none;
	border-bottom: none;
	padding: 0.273em 0.273em 0 0.273em;
	font-size: 11px;
	height: 1.545em;
}

.last{
	margin-bottom: 0 !important;
	border: 0 !important;
}

.nopad{ padding: 0 !important; }
.nospace{ padding: 0 !important; margin: 0 !important; }
.nobottom{ padding-bottom: 0; }
.botpad{ padding-bottom: 1em; }
.inline{ display: inline !important; }

/* GLOBAL STRUCTURE------------------------------------------*/
#mainContainer {
	text-align:left;
	margin-top:0;
	margin-left: auto;
	margin-right: auto;
}
div#content 
{
    text-align:left;
	clear:both;
}
.window {
	padding: 20px;
}
.window a.close {
	position: absolute;
	right:20px;
	top:10px;
	display:block;
	height:20px;
	width:20px;
	font-size:20px;
}
div#left 
{
    float:left;
    width: 159px;
    margin-top: 6px;
}
    #left a.external 
    {
        display:block;
        margin-top:2px;
        color: #636363;
        text-decoration:none; 
    }
    #left a:hover 
    {
        color: #ee3a43;
    }
    #left img 
    {
        padding-top:20px;
    }
    div#list_netwit, div#list_sharepoint, div#list_other 
    {
        margin-bottom:15px;
    }
div#right 
{
    float:left;
    width:760px;
}

/*FORMS---------------------------------------------*/
input[type=text]{ 
  border-top:1px solid #7c7c7c;
  border-left:1px solid #c3c3c3;
  border-right:1px solid #c3c3c3;
  border-bottom:1px solid #c3c3c3;
  padding:2px;
  color:#666;
  width:200px; 
}
input[type=text].thin { 
  border-top:1px solid #7c7c7c;
  border-left:1px solid #c3c3c3;
  border-right:1px solid #c3c3c3;
  border-bottom:1px solid #c3c3c3;
  padding:2px;
  color:#666;
  width:85px; 
  font-size: 0.7em;
  background-color: transparent;
}
input[type=password]{ 
  border:1px solid #999;
  padding:2px;
  color:#666; 
}
input[type=reset]{
    color: #666;
    background: #E5E5;
    border: 1px solid #999;
    font-size:20px;
    padding:5px;
}
div.buttons {	
    text-align: right;
	border-bottom: 1px solid #695e4a;
	width: 100%;
	margin-bottom: 20px;
}
input.button {
    background-color: #E51937;
    border: medium none;
    color: #FFFFFF;
    font-size: 10px;
    padding: 6px;
	line-height: 15px;
    text-transform: uppercase;
}
input.searchbutton {
	background-color: #E51937;
    border: medium none;
    color: #FFFFFF;
    font-size: 10px;
    left: 202px;
    line-height: 15px;
    padding: 6px;
    position: absolute;
    text-transform: uppercase;
    top: 1px;
}
input.findthis {
	border-color: #7C7C7C #C3C3C3 #C3C3C3;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    height: 27px;
    padding: 2px;
    position: absolute;
    top: 1px;
    width: 200px;
}
textarea
{    
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  border:1px solid #999;
  padding:2px;
  color:#666;
  width:400px; 
}
textarea.comments
{    
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border:1px solid #999;
  padding:2px;
  color:#666;
  width:795px; 
  height: 24px;
}
select{ 
  font-weight:normal; 
  color:#666;
}

/*----------portal home-----------*/
a#timesheets
{
    display:block;
    float:right;
}
a#logo
{
    float:left;
}

#top_border 
{
    height: 4px;
    margin-top:3px;
    margin-bottom: 14px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}  
.hairline 
{
    height:1px;
    border-top:1px solid #000;
    margin-bottom: 20px;
    margin-top: 20px;
} 

/*----birthday/anniv-----*/
#birthday_anniv 
{
    font-size: 26px;
    color: #464646;
    line-height: 140%;
}
#birthday_month_list, #anniversary_month_list
{
   font-size:14px; 
   line-height:130%;
}
#anniv #name {
	clear:left;
	width: 175px;
	float:left;
}
#anniv #years {
	width: 300px;
	float:left;
}

/*----timeoff-----*/
#timeoff 
{
    width:760px;
    text-align:left;
}
    #timeoff .formLabel 
    {
		font-size: 20px;
		color: #e51937;
        clear:left;
        float:left;
        line-height:130%;
    }
    #timeoff .formValue 
    {
        clear:left;
        float:left;
        margin-bottom:15px;
    }
/*----OOF calendar----*/
.oofCalendar 
{
    font-family: Georgia;
}
.oofCalendar a, .oofCalendar a:hover 
{
    font-size:0.8em;
    color:#636363;
    
}
#oof 
{
    clear:left;
    width:760px;
	border-top: 1px solid #695e4a;
}
    #oof .group
    {
        padding: 10px 0 ;
	    border-bottom: 1px solid #695e4a;
    }
    #oof .office
    {
        color: #ee3a43;
        float: left;
        width: 725px;
	    font-size: 34px;
	    line-height: 130%;
	    font-weight: bold;
	    cursor:pointer;
    }
        #oof .office:hover
        {
            color: #E5222C;
	        cursor:pointer;
        }
    #oof .offices_click 
    {
        color: #ee3a43;
        float: left;
        width: 20px;
	    font-size: 34px;
	    line-height: 130%;
	    font-weight: bold;
	    cursor:pointer;
    }
        #oof .offices_click:hover
        {
            color: #E5222C;
	        cursor:pointer;
        }

#oof td 
{
    padding-right:15px;
}

#day, #week
{
    color: #252525;
	font-size: 34px;
	font-weight: bold;
	margin: 18px 0;
}

.show_hide 
{
    font-weight: bold;
    width: 95px;
    height: 25px;
    background-color: #e51937;
    color: #fff;
    float:right;
    text-align:center;
    cursor: pointer;
    padding-top:6px;
    
}


.redAst {
	color: #ee3a43;
	font-size:24px;
	vertical-align:bottom;
	font-weight:normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}
 
 /*----------Open Job----------*/
.descriptionOn {
	margin: 10px 0;
	color:#333;
	font-weight:bold;
}
.description {
	margin: 10px 0;
	color:#CCC;
}
.description a {
	margin: 10px 0;
	/*color:#7A78AF;*/
	font-weight:normal;
}

#openJobStep1 {
	margin: 20px 0 0 0;	
}
	
	#openJobStep1 input {
		display:block;
		margin: 10px 0;
		padding:4px;
	}
	#openJobStep1 select {
		height:270px;
		font-size: 14px;
		border: 1px solid #CCC;
		padding: 4px;
		color:#666;
	}
#jobList tr {
	font-size:12px;
	padding:0px 0;
}
#jobList .client_name {
        width: 725px;
	font-size: 18px;
	padding-top:20px;
}
#jobDetails {
	margin: 0;
	text-align:left;
}	
	.fieldNote{
		font-size:11px;
		color:#00a2b0;
		font-style:italic;
		padding-bottom:5px;
	}
	#jobDetails .fieldNoteLight{
		font-size:9px;
		color:#CCC;
		font-style:italic;
	}
	#openJobStep2 .description {
		margin: 10px 0;
		color:#333;
	}
	
	.jobDetailsBox {
		/*border: 1px solid #CCC;
		background: #EFEFEF;
		padding:10px;
		margin: 0 0 20px 0;*/
		
	}
	#jobDetails select {
		color:#666;
	}
		#jobDetails table
		{
			border: 1px solid #CCC;
			border-collapse:collapse;
			padding:6px;
			font-size:13px;
			color:#666;
			background-color:#f7f6f5;
			width: 835px;
			
		}
		#jobDetails td
		{
			border: 1px solid #CCC;
			border-collapse:collapse;
			padding:6px;
			font-size:13px;
			color:#666;
			background-color:#f7f6f5;
		}
		#jobDetails select option {
			padding: 2px;
		}
	
		.fieldSet {
			margin: 0px 0 18px;
			clear:left;
			overflow:hidden;
		}
		.fieldLabel,
		.client_name {
			font-size: 16px;
			color: #252525;
			font-size: 18px;
			font-weight:bold;
			text-transform:none;	
			line-height: 14px;	
		}
		div.fieldLabel {
			float:left;
			width: 150px;
		}
		.fieldValue {
			color: #666;
			float:left;
		}
		#clientCodeValue {
			display:none;
		}
		#jobDetails input[type=text] {
			border:1px solid #CCC;
			color:#666;
		}
		#jobDetails textarea {
			font-family: Verdana, Arial;
			font-size:12px;
			
		}
		#jobDetails #jobDetailsClientName {
			padding:2px;
			color:#666;
		}
		#jobDetails #practicegroup {
			padding: 4px;
			color:#666;
		}
		#jobDetails textarea {
			border:1px solid #CCC;
			color:#666;
			padding:2px;
			width:500px;
		}
		.teamStepHeader {
			font-weight:bold;
			padding-bottom:2px;
			display:block;
		}
		.teamStepSubHeader {
			padding-bottom:10px;
			display:block;
			font-size:9px;
		}
		#jobDetails #teamfunctions {
			height:198px;
			width: 230px;
			padding: 4px;
			color:#666;
		}
		#jobDetails #jobTitle {
			width: 500px;
		}
		#jobDetails #employees {
			height:198px;
			width: 230px;
			padding: 4px;
		}
		#jobDetails #theones {
			height:198px;
			width: 230px;
			padding: 4px;
		}
		#jobDetails #teamStep1 {
			height: 220px;
			float:left;
			margin: 0 10px 0 0;
		}
		.openJobTeamDigital {
			color: #999;
			font-size: 10px;
			margin-left:8px;
		}
		#jobDetails #teamStep2 {
			height: 372px;
			float:left;
			margin: 0 10px 0 0;
		}
			#jobDetails .jobTeamStep2Default {
				color:#666;
				font-size: 10px;
			}
			#jobTeamOffice {
				font-size:10px;
				width: 200px;
			}
			.jobTeamOffice {
				display:inline-block;
				width:95px;
			}
		#jobDetails #teamStep3 {
			height: 220px;
			float:left;
			margin-right: 10px;
		}
		#JobDetails #specifications {
			height:50px;
			width:500px;
		}		
		#jobDetails input[type=submit] {
			display:block;
			/*padding:4px;*/
		}

/*-------------Modify Job Information-------------*/
#modifyJobInformation {
	margin: 20px 20px 100px 20px;
}   
/*-------------TimeKeepr--------------------------*/
#jobinfo {
	margin-left: 130px;
}
p.timesheets_header {
	text-align:right;
	margin-top:4px;
}
div#timesheet_edit {
	margin:20px;
}
#placeholder {
	margin-bottom: 20px;
}
#timekeeper_submitted {
	margin-top: 20px;
}
div#workCodeDesc {
	margin:20px;
}
#pickJob {
	margin-bottom: 20px;
}
.selectJobOption {
	/*border-top: 1px solid #999;*/
	border-bottom: 1px solid #999;
	margin: 5px 0;
	padding: 10px 0;
}
.selectJobOption_bottom {
	margin-top: 5px;
	padding: 10px 0;
}
.timekeeperLabel {
	width: 158px;
	float: left;
	font-size: 12px;
}
div#timekeeperQvAFrame {
	margin-top: 10px;
}
div.timekeeper_section {
	margin-bottom: 15px;
}
#timekeeperButtons {
	margin: 20px 0;
	border-bottom: 1px solid #695e4a;
	text-align: right;
}
div.timekeeperLink {
	margin-top: 5px;
}
div#timekeeper_method {
	position:absolute;
	top:61px;
	right:0;
	text-align: right;
}
div.workCodeSelect,
div#pickJobRemember,







div#jobNumRemember,
div#pickNoJobRemember {
	display:none;
	float:right;
	font-size:11px;
}
td.small {
	font-size:11px;
}
tr.rowEven {
	background-color: #f6f5f5;
}

/*--------------Telligent CSS customization-------------*/
.header-fragments-header {
	/*background: url("../../../images/body.gif") repeat-x scroll 0 0 transparent;*/
	background: none repeat scroll 0 0 #E81429;
	height: 39px;
}
.header-fragments .layout-content .layout-region .layout-region-inner {
    overflow: hidden;
}
.layout-region.content .content-fragment.site-user-navigation .navigation-item:first-child a span {
    background: none;
}
.user-banner .internal-link.edit-user-profile span,
.user-banner .internal-link.save-user-profile span,
.user-banner .internal-link.send-email span, 
.user-banner .internal-link.start-conversation span,
.user-banner .internal-link.request-friendship span,
.user-banner .internal-link.favorite-on span, 
.user-banner .internal-link.favorite-off span, 
.user-banner .internal-link.processing span,
.user-banner .internal-link.cancel-friend-request span, 
.user-banner .internal-link.delete-friendship span {
    background: none;
    display:inherit;
    height:auto;
    margin: 0px;
    width: 0px;
}
.user-banner .user-banner-actions {
    bottom: -54px;
    right: 0;
    top: auto;
}
.user-banner .user-name {
    font-size: 24px;
    letter-spacing:normal;
    margin: 0;
    padding: 55px 0 0 159px;
}
.user-banner .status-message {
    display: inline;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 4px;
}
.user-banner .user-banner-actions .navigation-item {
	border: none;
}
.user-banner .status-date {
    color: #999999;
    display: inline;
    font-size: 9px;
}
.user-defined-markup {
    line-height: 150% !important;
}
.user-defined-markup h1 {
    margin-top: 20px;
	margin-left: 0px;
}
.header-fragments {
    border-bottom: none;
	margin: 0 auto 0;
    top: 6px;
}
.content-fragment.quick-post .filter .filter-option .view-filter {
    font-size: 14px;
    font-weight: normal;
}
.content-fragment.site-user-navigation a {
    border-left: 1px solid #FFFFFF;
}
.content-fragment.site-user-navigation .navigation-item.user-information {
    font-weight: normal;
}
li.navigation-item.settings {
	display:none !important;
}
.content-fragment.site-user-navigation .navigation-item .internal-link.favorite-list, .content-fragment.site-user-navigation .navigation-item .internal-link.browse-groups {
    font-weight: normal;
	background: url("../../../images/header-fragment-menu-button.gif") no-repeat scroll right center transparent;
}
.content-fragment.site-user-navigation .internal-link.favorite-list.active, .content-fragment.site-user-navigation .internal-link.browse-groups.active {
	color: #fff;
}
.menu.favorite-places-content {
background-color: #F6F5F5;
    background-image: none;
    border-color: #F6F5F5;
}
.content-fragment.no-wrapper .content-fragment-content, .content-fragment.no-wrapper-with-spacing .content-fragment-content {
    /*margin-bottom:40px;*/
}
.content-fragment.group-links .navigation-item {
	border: none;
}
.content-fragment.group-banner .navigation-item {
	border:none;
	text-align:right;
}
.content-fragment.group-banner .email-digest-subscription {
	text-align:right;
}

.layout-content.header-top-content-left-sidebar-right .layout-region.right-sidebar {
    margin-top: 117px;
	width: 190px;
}
.layout-content.content-left-sidebar-right .layout-region.right-sidebar .content-fragment, .layout-content.sidebar-left-content-right .layout-region.content .content-fragment, .layout-content.sidebar-left-content-center-sidebar-right .layout-region.content .content-fragment, .layout-content.sidebar-left-content-center-sidebar-right .layout-region.right-sidebar .content-fragment, .layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left .content-fragment, .layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-right .content-fragment, .layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.right-sidebar .content-fragment, .layout-content.header-top-content-left-sidebar-right .layout-region.right-sidebar .content-fragment, .layout-content.header-top-sidebar-left-content-right .layout-region.content .content-fragment, .layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.content .content-fragment, .layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.right-sidebar .content-fragment, .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left .content-fragment, .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-right .content-fragment, .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.right-sidebar .content-fragment {
    margin: 0 0 4px 15px;
}
.content-fragment.with-header .content-fragment-header,
.content-fragment.activity-message-list .content-list-name {

    /*background: url("http://spawn2.mowerinteractive.com/Telligent/cfs-file.ashx/__key/themefiles/s-c5695e8be07e419a9d61d7e4336b6304-files/filter_2D00_background.png") repeat-x scroll left bottom #FFFFFF;*/
	background: none !important;
	border-bottom: 0px solid #CCCCCC;
    font-size: 22px;
    font-weight: normal;
 padding: 35px 0 15px;
	color: #666666;
    word-wrap: break-word;
	line-height: 22px;
}
#fragment-897 .content-fragment-header,
#fragment-811 .content-fragment-header{
	color: #252525 !important;
    font-size: 40px !important;
    font-style: normal;
    line-height: 1em;
    margin-bottom: 5px !important;
    text-transform: uppercase;
	font-weight: bold !important;
}
.tab-set.global-nav,
.tab-set.sub-nav {
    border-bottom: 4px double #999999;
}
.tab-set.global-nav {
	margin-bottom:20px;
}
.tab-set {
    margin: 0;
}

.tab-set .tab a {
    font-size: 14px;
    font-weight: normal;
	color: #ee3a43;
    word-wrap: break-word;
	max-width: 210px;
}
.tab-set .tab.selected a {
    font-size: 14px;
    font-weight: normal;
	color: #636363;
    word-wrap: break-word;
}
.tab-set .tab.selected a:hover,
.tab-set .tab a:hover {
	color: #636363;
}
.tab-set .tab.selected {
    background-position:top left;
	border-bottom: none;
}
.tab-set .tab ,
.content-fragment.user-navigation .navigation-item,
.content-fragment.group-application-navigation .navigation-item {
	margin-right: 0px;
	/*border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #cccccc;*/
	/*background: url("http://spawn2.mowerinteractive.com/Telligent/cfs-file.ashx/__key/themefiles/s-c5695e8be07e419a9d61d7e4336b6304-files/filter_2D00_background.png") repeat-x scroll left bottom #FFFFFF;*/
	background:none;
	border:none;
	padding-left:0;
}
.group-banner .group-banner-footer {
	padding: 0;
}
.tab-set .tab div {
	padding: 0 19px 0 0;
	background: none;
}
.tab-set .tab {
	padding: 0;
}
div#embedded {
	margin-top:20px;
	overflow: hidden;
}

.content-fragment.user-navigation .navigation-item a,
.content-fragment.group-application-navigation .navigation-item a {
	background: none;
    font-weight: normal;
	color: #EE3A43;
    word-wrap: break-word;
	min-width: 0px;
	padding-right: 10px;
}
.content-fragment.user-navigation .navigation-item.selected a,
.content-fragment.group-application-navigation .navigation-item.selected a {
    color: #666666;
}
.content-fragment.user-navigation .navigation-list-footer {
	clear:both;
	margin-bottom:20px;	
}

.content-fragment.user-navigation .navigation-list,
.content-fragment.group-application-navigation .navigation-list  {
    background: none;
    height: 28px;
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0;
	
}
.content-fragment.user-navigation .navigation-item.selected,
.content-fragment.group-application-navigation .navigation-item.selected {
	background:none;
	border:none;
	
}

.user-banner .evolution2-user-status-header {
	margin-top: 10px;
}

/*hide the weird "new post" in the group navigation*/
.content-fragment.group-application-navigation .navigation-item.add-post {
	float:right;
	/*display:none;*/
}

.content-fragment.group-application-navigation .internal-link.add-post {
	right: 0;
}




.content-fragment.group-list .content-item.simple {
    border-bottom: none;
    padding: 4px 0 0;
}
.content-fragment.group-list .group-name a {
    font-size: 20px;
    font-weight: normal;
}
.content-fragment.blog-post-list .simple-expanded .content-item,
.content-fragment.blog-post-list .content-item,
.content-fragment.media-gallery-post-list .content-item.simple {
    border-bottom: none;
	padding: 8px 0;
}
.content-fragment {
    margin: 0px 0 0px 0px;
	border:none;
}

.abbreviated-post .post-author, .abbreviated-post .post-date, .abbreviated-post .post-application, .abbreviated-post .post-actions {
    color: #CCCCCC;
}
.content-fragment.blog-post-list .content-list.simple-expanded .post-name.evolution2-first,
.content-fragment.blog-post-list .content-list.simple-expanded .post-name  {
    font-size: 14px;
	font-weight: normal;
}
.abbreviated-post .post-summary {
    font-size: 12px;
	margin: 0;
}
.content-fragment.site-search ul.field-list {
    background: url("../../../images/search.png") no-repeat scroll 0 0 transparent;
}
.content-fragment.site-search .field-item-input input {
    color: #000000;
    font-size: 14px;
    padding: 3px 5px 0;
}
.menu.search-content {
    background: url("../../../images/searchresults.png") no-repeat scroll left top transparent;
}
.menu.search-content .message.norecords {
    color: #333333;
}
.browse-groups-content .content-list li.content-item,
.favorite-places-content .content-list li.content-item {
    border:none;
}
.menu .content-item {
    border:none;
}
.poweredby {
	display: none;
}
.footer-fragments {
    background-color: transparent;
    border-bottom: none;
}
.full-post {
    border-bottom: 1px solid #F6F5F5;
    padding-bottom: 9px;
}
.content-fragment.activity-message-list .content-list-name {
    /*border-bottom: 2px solid #F6F5F5;*/
	padding: 20px 0 0;
}
.content-fragment.activity-message-list li.reply {
    background-color: #fff;
}

.content-fragment.activity-message-list .content-list li.content-item {
    border-width: 0;
    clear: both;
    padding: 2em 0 0.5em;
}
.content-fragment.activity-message-list span.filter-option {
    padding: 11px 12px 5px;
	font-weight: normal;
}
.content-fragment.html-content .user-defined-markup {
    /*padding: 0;*/
}
.content-fragment.quick-post .filter .filter-option.selected .view-filter {
    color: #636363;
    font-weight: normal;
}


		.field-item-header {
			color: #252525;
			display: block;
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		.field-item-description {
			clear: both;
			color: inherit;
			display: block;
			font-size: 14px;
			margin-bottom: 5px;
		}
		.content-fragment.user-profile-group-content-fragment .field-item-input input {
			height: 15px;
			padding: 5px 10px;
			width: 280px;
		}
		.internal-link.edit-user-profile {
			position: absolute;
			right: 0;
			top: auto;
		}
		.internal-link.send-email {
			display: none;
		}
		.content-fragment.user-profile-group-content-fragment .attribute-item {
			border-bottom: none !important;
			display: block;
			padding: 4px 0;
		}
		.content-fragment.user-profile-group-content-fragment .attribute-value {
			color: #666666;
			display: block;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 15px;
			overflow: hidden;
			white-space: normal;
			word-wrap: break-word;
		}
		.content-fragment.user-profile-group-content-fragment .attribute-value a {
			font-size: 14px;
		}
		
		.content-fragment.user-profile-group-content-fragment .attribute-name {
			display: block;
			font-size: 14px;
			font-weight: normal;
			margin-bottom: 6px;
			width: 155px;
		}
.content-fragment.quick-post .field-list .field-item-input .internal-link.add-post,
.content-fragment.quick-post .internal-link.add-post,
.content-fragment.quick-post a.internal-link.add-post.disabled,
.content-fragment.quick-post a.internal-link.add-post:hover ,
.content-fragment.quick-post .field-list .field-item-input .internal-link.add-attachment,
.content-fragment.friendship-list .post-actions .navigation-item .internal-link,
.browse-groups-content .internal-link.create-group,
.content-fragment.edit-user .setting-item .internal-link.update-account,
.content-fragment.edit-user .setting-item .internal-link.update-account:hover,
.content-fragment.group-application-navigation .internal-link.add-post,
.content-fragment.thread .field-list .internal-link.add-inline-post,
.content-fragment.thread .field-list .internal-link.add-inline-post:hover,
.content-fragment.create-edit-post .field-item .internal-link.save-post,
.content-fragment.blog-post-comment-form .field-item .internal-link.add-reply,
.field-item-input .internal-link.submit-form,
.field-item-input  button,
input#fragment-1773076524_selectTags,
input#fragment-517423730_SelectTagsId,
.content-fragment.page-edit .field-item .internal-link.save-post,
.content-fragment.page-edit .field-item .internal-link.save-post:hover ,
.content-fragment.create-edit-page-comment .field-item .internal-link.add-reply,
.content-fragment.create-edit-page-comment .field-item .internal-link.add-reply:hover,
.content-fragment.add-media-gallery-post-comment .field-item .internal-link.add-reply,
.content-fragment.add-media-gallery-post-comment .field-item .internal-link.add-reply:hover,
.content-fragment.upload-edit-media-gallery-post .field-item .internal-link.save-post,
.content-fragment.upload-edit-media-gallery-post .field-item .internal-link.save-post:hover,
.field-item .field-item-input input[type=button],
.field-item .field-item-input input[type=button]:hover,
.internal-link.edit-user-profile,
.internal-link.cancel,
.internal-link.delete-friendship,
.user-banner .internal-link.save-user-profile,
.user-banner .internal-link.start-conversation,
.user-banner .internal-link.request-friendship,
.user-banner .internal-link.favorite-on, 
.user-banner .internal-link.favorite-off, 
.user-banner .internal-link.processing
{
    background-color: #E51937;
    color: #FFFFFF !important;
    float: right;
    font-family: arial;
    margin-right: 0px;    
	padding: 6px;
    position: relative;
    text-transform: uppercase;
	background-image:none;
	font-size: 11px;
	font-weight: bold;
	height: auto;
	border: none;
	line-height: 19px;
	cursor: pointer;
}
.field-item-input .internal-link.submit-form,
.field-item-input  button {
	float:none;
	margin-left:0;
	cursor: pointer;
}
button#fragment-1537280422_SelectTags,
input#fragment-1773076524_selectTags,
input#fragment-517423730_SelectTagsId
 {
		float:none;
	margin-left:0;
	cursor: pointer;
	position: absolute;
	bottom:6px;
}
input#fragment-1773076524_selectTags,
input#fragment-517423730_SelectTagsId {
	padding: 8px 6px 9px;
}
.content-fragment.create-edit-post .field-item .internal-link.save-post {
	/*margin-right:52px;*/
}
.admin-bar {
	position:absolute;
	top:0;
	right:0;
}
.browse-groups-content .internal-link.create-group {
	float:none;
	position:absolute;
}
.browse-groups-content input {
	border:none !important;
	padding:4px !important;
}
.browse-groups-search {
	padding: 20px 0;
}
.admin-bar .navigation-item .internal-link {
	color: #fff;
    font-family: arial;
    margin-right: 0px;    
    position: relative;
    text-transform: uppercase;
	background-image:none;
}
.admin-bar .navigation-item .internal-link {
	margin-left: 1px;
}
.admin-bar {
	background: none;
	padding: 0 0 8px;
}
.admin-bar .navigation-list {
	width: 100%;

	max-width: none;
	min-width: none;
	
}
.content-fragment.quick-post .field-list .field-item-input .internal-link.add-attachment,
.content-fragment.group-application-navigation .internal-link.add-post  {
	float:none;
}
.content-fragment.create-edit-post .field-item.post-feature .field-item-header, .content-fragment.create-edit-post .field-item.post-lock .field-item-header, .content-fragment.create-edit-post .field-item.post-anonymous .field-item-header, .content-fragment.create-edit-post .field-item.post-include-poll .field-item-header, .content-fragment.create-edit-post .field-item.post-answer-type .field-item-header, .content-fragment.create-edit-post .field-item.post-subscribe .field-item-header {
    left: 24px;
    position: absolute;
    top: 2px;
}
li.post-tags {
	position:relative;
}


.content-fragment.quick-post .internal-link.add-post span,
.content-fragment.quick-post a.internal-link.add-post.disabled span,
.content-fragment.quick-post a.internal-link.add-post:hover span,
.content-fragment.quick-post .field-list .field-item-input .internal-link.add-attachment span ,
.content-fragment.friendship-list .post-actions .navigation-item .internal-link span,
.admin-bar .navigation-item .internal-link span ,
.browse-groups-content .internal-link.create-group span,
.content-fragment.edit-user .setting-item .internal-link.update-account span ,
.content-fragment.edit-user .setting-item .internal-link.update-account:hover span,
.content-fragment.group-application-navigation .internal-link.add-post span,
.content-fragment.thread .field-list .internal-link.add-inline-post span,
.content-fragment.thread .field-list .internal-link.add-inline-post:hover span,
.content-fragment.create-edit-post .field-item .internal-link.save-post span,
.content-fragment.blog-post-comment-form .field-item .internal-link.add-reply span,
.field-item-input .internal-link.submit-form span,
.content-fragment.page-edit .field-item .internal-link.save-post span,
.content-fragment.page-edit .field-item .internal-link.save-post:hover span,
.content-fragment.create-edit-page-comment .field-item .internal-link.add-reply span,
.content-fragment.create-edit-page-comment .field-item .internal-link.add-reply:hover span,
.content-fragment.add-media-gallery-post-comment .field-item .internal-link.add-reply span,
.content-fragment.add-media-gallery-post-comment .field-item .internal-link.add-reply:hover span,
.content-fragment.upload-edit-media-gallery-post .field-item .internal-link.save-post span,
.content-fragment.upload-edit-media-gallery-post .field-item .internal-link.save-post:hover span
 {
	background: none;
}
.content-fragment.quick-post {
	margin: 20px 0;
}
.content-fragment.friendship-list .post-actions {
    bottom: 0 !important;
    position: absolute;
    right: 0;
	top: auto;
}
.content-fragment.friendship-list .full-post {
	border-bottom: 1px solid #695e4a;
	margin-bottom: 20px;
}
.content-fragment.create-edit-post .field-item.create-post {
		border-bottom: 1px solid #695e4a;
		line-height: 25px;
		margin-right: 52px;
}
fieldset.save-post-form li.field-item {
	border-bottom: 1px solid #695e4a;
	line-height: 23px;
	margin-right: 23px;
}
.content-fragment.site-search .internal-link.search-options {
	background:none;
}
.setting-item-input {
	float:none;
}

/*jobs*/
#main_nav, 
#main_nav_job,
#my_profile_nav  {
	margin: 10px 0 40px 0;
	border-bottom: 1px solid;
	line-height: 30px;
	position: relative;
}
#my_profile_nav  {
	margin: 0px 0 40px 0;
	border-bottom: 1px solid;
	line-height: 30px;
	position: relative;
}
#my_profile_nav a.button1 {
    top: 76px;
}
#my_profile_telligent {
	margin: 10px 0 0 0;
	line-height: 30px;
	position: relative;
}
#my_profile_telligent > a {
    display: block;
    margin-top: 20px;
}
#main_nav a,
#my_profile_nav a,
#main_nav_job a {
	padding: 0 11px 0 0;
}
#jobsearch {
	position:absolute;
	bottom:0;
	right:0;
}
#jobSearchForm {
    position: absolute;
    right: 105px;
    top: 1px;
    vertical-align: bottom;
    width: 272px;
}
#byKeyword {
}
#byPerson {
	display:none;
}

#jobSearchButtons {
	margin: 20px 0;
	border-bottom: 1px solid #695e4a;
	text-align: right;
}
#matchcount {
	display:inline;
}
#jobList {
	width: 100%;
}
a.button {
    background-color: #E51937;
    color: #FFFFFF;
    float: right;
    font-family: arial;
    margin-right: 0px;    
	padding: 6px;
    position: relative;
    text-transform: uppercase;
	background-image:none;
	top:4px;
	right:-4px;
	font-size:10px;
}
a.button1 {
    background-color: #E51937;
    color: #FFFFFF;
	position:absolute;
    font-family: arial;
    margin-right: 0px;    
	padding: 6px !important;
	line-height: 20px;
    text-transform: uppercase;
	background-image:none;
	font-size:10px;
	top:0;right:0;
	overflow:hidden;
	z-index:100;
}
a.button2 {
    background-color: #E51937;
    background-image: none;
    color: #FFFFFF;
    float: right;
    font-family: arial;
    font-size: 10px;
    margin: 2px 0 0 2px;
    padding: 6px !important;
    right: 0;
    text-transform: uppercase;
	line-height:15px;
}
a.button:hover,
a.button1:hover,
a.button2:hover,
input.button:hover,
input.searchbutton:hover {
    background-color: #FF1C3E;
	cursor: pointer;
}
tr.jobList_item td {
	border-bottom: 1px solid #695e4a;
	border-collapse: collapse;
}
/*my profile*/
#my_profile_nav ul {
	margin-bottom: 10px;
}
a.profile_active, a.jobs_active {	
	color:#636363;
	text-decoration: none;
	
}
span.activelink {
	
	padding: 0 11px 0 0;
	
}

.menu.browse-groups-content {
	background-color: #f6f5f5;
	border-color: #f6f5f5;
	background-image: none;
}


.browse-groups-content .internal-link,
.favorite-places-content a {
		color: #464646 !important;
}
.content-list-name a {
	color: #464646 !important;
	text-transform: uppercase !important;
}

.browse-groups-content .content-list-name {
	padding: 0;
}

.browse-groups-content .multiple-column-item.column-2 {
	border: none;
}
.breadcrumb-list {
    background: none;
	border: none;
	margin-left: 0;
	padding-left: 0;
}


.breadcrumb-list .breadcrumb-item a,
a.tab { 
    color: #ee3a43;
    text-decoration:none; 
	font-weight: normal;
	font-size: 14px;
}
.breadcrumb-list .breadcrumb-item a:hover,
a:hover.tab { 
    color: #636363;
}
p.sharepoint_link {
    margin-top: 13px;
    padding: 0;
    text-align: right;
}
	p.sharepoint_link a {
		color: #00A2B0;
		font-style: italic;
		font-size: 14px;
		text-decoration:none;
	}
		p.sharepoint_link a span {
			color: #E51937;
			font-size:29px;
		}

p.subhead {
	margin-bottom:10px;
	width: 765px;
}
.menu.search-content a {
	color: #ee3a43;
}
.menu .content-list-name {
    color: #333333;
    font-size: 12px;
	border-bottom: 1px solid #464646;
}
.content-fragment.user-banner .user-banner,
.group-banner
 {
	background: none;
	/*min-height: 152px;*/
	padding: 0;
}
.group-banner .group-banner-actions {
	margin: 0;
}
.group-banner .group-name {
    font-size: 29px;
    letter-spacing: normal;
    margin: 0;
    padding: 9px 0 0 96px;
}

.user-banner .status-message {
	font-size: 14px;
}

.user-banner-actions li.navigation-item {
	float:left;
	margin-left:1px !important;
}
.user-banner .user-avatar,
.group-banner .group-avatar  {
	top: 15px;
	left: 0;
	border: none;
}

.user-banner .status-date {
	font-size: 12px;
}

.tab-set.with-panes .tab {
	color: #ee3a43 !important;
}
.tab-set.with-panes .tab.selected {
    color: #636363 !important;
}

.content-fragment.group-accessibility-information .content-fragment-content {
    background: none;
    padding: 8px 0;
	text-align: left;
}
.content-fragment.group-accessibility-information .message.disclaimer {
	color: #00a2b0 !important;
	padding: 0 0 0 20px;
	margin-left: 5px;
}
.email-digest-subscription span.email-digest-rollup  {
	color: #666;
}
.group-banner .group-description {
}

.content-fragment.quick-post .filter .separator {
	visibility:hidden;
}
.content-fragment.activity-message-list span.separator {
	background:none;
}
.content-fragment.activity-message-list .filter-option.selected a {
    color: #636363;
}
.content-fragment.activity-message-list div.filter {
	border:none;
}
.content-fragment.activity-message-list div.filter {
	background: none;
	margin-top: 40px;
	border-bottom:1px solid;
	 display: none;
}
.content-fragment.activity-message-list span.filter-option.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid;
    height: 19px;
}
.content-fragment.quick-post .filter .filter-option .view-filter {
	padding-left:0;
}
div.page-tabs,
.content-fragment.user-navigation .navigation-list, 
.content-fragment.group-application-navigation .navigation-list {
	border-bottom: double 4px;
}
.content-fragment.quick-post .filter .filter-option .view-filter.msg span,
.content-fragment.quick-post .filter .filter-option .view-filter.weblog span,
.content-fragment.quick-post .filter .filter-option .view-filter.forum span,
.content-fragment.quick-post .filter .filter-option .view-filter.media-gallery span,

.content-fragment.quick-post .filter .filter-option .view-filter.wiki span  {
	background:none;
}
.content-fragment.activity-message-list .full-post .post-author .avatar ,
.content-fragment.group-list .group-avatar,
.content-fragment.activity-message-list .content-list .field-item-input .avatar  {
	border: none;
}

.content-fragment.group-list .group-avatar img {
    border-radius: 4px 4px 4px 4px;
    max-height:none;
    max-width: 41px;
}
.content-fragment.group-list ul.content-list .full-post {
    border-left: 1px dotted #ccc;
    margin-left: 50px !important;
}
.content-fragment.group-list .full-post .avatar {
    border: 1px solid #CCCCCC;
    left: 4px;
    padding: 1px;
    position: absolute;
    top: 18px;
}

.site-logo {
	position: absolute;
	top:4px;
}
.site-banner {
	height: 114px;
	overflow:hidden;
}
.content-fragment.html-content .user-defined-markup {
	padding: 0;
}
.content-fragment.site-search fieldset {
    border: medium none;
    float: right;
    margin: 0;
    padding: 1px 0 0;
}

#group_head {
	border-bottom:1px solid;
	margin-bottom:20px;
}

.content-fragment.site-user-navigation a {
    border-left: 1px solid #fff;
    color: #FFFFFF;
    margin: 0 0 0 3px;
    padding: 0 0 0 3px;
}

.layout-content.sidebar-left-content-center-sidebar-right .layout-region.left-sidebar {
    float: left;
    width: 327px;
}


/*  telligent search results */
.content-fragment.search-result-list .content-item .abbreviated-post .post-name a.view-post:link, .content-fragment.search-result-list .content-item .abbreviated-post .post-name a.view-post:visited {
    color: #ee3a43;
    text-decoration: underline;
}

.content-fragment.search-result-list .content-item .abbreviated-post .post-application, .content-fragment.search-result-list .content-item .abbreviated-post .post-application a {
    color: #00a2b0;
}

/*easyXDM */
iframe[id*="easyXDM_default"],
iframe#easyXDM {
	overflow:hidden;
	height:200%;
	border: 0;
}

/*people - advanced labor*/
td.smaller,
tr.smaller a {
	font-size: 10px;
}

.lookingfor {
	font-style: italic;
}

/*people - phonelist*/
a.showPhotos {
	font-size: 18px;
}

/*reply to post fix*/
.content-fragment.activity-message-list .content-item.reply {
display: block !important;
    height: 1%;
    margin-left: 49px;
    margin-right: 5px;
    margin-top: 13px;
    padding: 0 !important;
}
.content-fragment.activity-message-list .content-list .field-item {
    margin: 0 17px 0 28px;
    min-height: 28px;
    padding: 4px 0 0 10px;
    position: relative;
}
/*Telligent WYSIWIG editor, show bullets*/
.user-defined-markup ul {
	list-style: disc outside none;
    margin: 13px;
}
/*Telligent groups*/
span.group-favorite {
    background: url("http://spawn2.mowerinteractive.com/Telligent/cfs-file.ashx/__key/themefiles/s-aa8056256ecb481bae92f2db9f87e893-files/icon_2D00_sprite.gif") no-repeat scroll 0 -510px transparent;
    height: 16px;
    padding-left: 12px;
    position: absolute;
    right: 500px;
    top: 10px;
		color: #00A2B0;
}
.content-fragment.thread .abbreviated-post .post-name {
    color: #000000;
    font-size: 23px;
    line-height: 1.3em;
    overflow:visible;
    white-space: pre-wrap;
	font-weight:normal;
}
.content-fragment.thread .content-fragment-header .internal-link.view-application {
    font-weight: normal;
    margin-left: 18px;
}
.content-fragment.thread .content-fragment-header .internal-link.view-application span {    
    top: 8px;
}
.content-fragment.thread .content-fragment-content {
    background-color:transparent;
}
.content-fragment.with-header .content-fragment-content {
    border-top: 0px solid #E6E6E6;
}
.content-fragment.thread .evolution2-full-post-container {
    background:none;
    margin:0px;
    padding:0px;
}
.content-fragment.thread .full-post {
    border:none;
}
.content-fragment.thread .full-post.post-starter {
    background:none;
}
.content-fragment.thread .full-post .post-author {
	background-color:transparent;
}
.content-fragment-content {
    padding: 0;
}
.content-fragment.thread .full-post-footer,
.content-fragment.side-bottom-border-only.create-edit-page-comment {
    background: none;
}
.content-fragment.thread .field-list .internal-link.add-post {
    background: none repeat scroll 0 0 Transparent;
    bottom: 19px;
    color: #EE3A43;
    display: inline;
    float: none;
    font-size: inherit;
    font-weight: normal;
    position: absolute;
    right: 200px;
    top: auto;
}
.content-fragment.blog-post .full-post .post-name {
    color: #333333;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 130%;
    margin: 7px 0 18px;
    padding: 0;
}
.content-fragment.blog-post .content-fragment-header .internal-link.weblog span {
    height: 28px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 6px;
}
.content-fragment.side-bottom-border-only.blog-post-comment-form {
    background: none;
}
.content-fragment.blog-post .full-post .post-content {
    border:none;
    line-height: 1.5em;
    margin: 55px 0 10px;
    padding: 10px 0;
}
.full-post {

    border:none;
	margin: 19px 0 68px 0;
    padding-bottom: 0;
}
.content-fragment.activity-message-list .with-avatar {
    margin-bottom: 0;
    padding-left: 64px;
	min-height: 22px;
	margin-top: 3px;
}
.content-fragment.activity-message-list .full-post .post-author .avatar {
    border: 1px solid #CCCCCC;
    left: 0;
    max-height: 100px;
    max-width: 80px;
    padding: 0;
    position: absolute;
    top: 4px;
}
.full-post-header,
.full-post-footer {
	min-height:0px !important;
}
.post-content {
	padding-top:4px;
}

/*--- Tag cloud ---*/

	/* Dan's change begins here*/
  .tag-cloud li.level-6{font-size: 12px !important}
  .tag-cloud li.level-5{font-size: 14px !important}
  .tag-cloud li.level-4{font-size: 16px !important}
  .tag-cloud li.level-3{font-size: 18px !important}
  .tag-cloud li.level-2{font-size: 22px !important}
  .tag-cloud li.level-1{font-size: 28px !important}
  /*Since text is within an anchor for the links, we need to explicitly set the style for links, or it will be overridden.*/
  .tag-cloud li.level-6 a{font-size: 12px !important}
  .tag-cloud li.level-5 a{font-size: 14px !important}
  .tag-cloud li.level-4 a{font-size: 16px !important}
  .tag-cloud li.level-3 a{font-size: 18px !important}
  .tag-cloud li.level-2 a{font-size: 22px !important}
  .tag-cloud li.level-1 a{font-size: 28px !important}
  /*Dan's change ends here */

/*tag list in modal window for forums and blogs*/
.field-item-input label {
    margin-left: 8px;
}
.field-item-input table {
    width: 100%;
}
fieldset.field-list {
    border: medium none;
    margin: 20px 20px 20px 0;
    padding: 0;
	
	/*border-bottom: 1px solid #695E4A;*/
}
.field-list-description {
    color: #000000;
    margin-bottom: 15px;
    padding-top: 5px;
}
ul.field-list li.submit-button {
	/*border-bottom: 1px solid #695E4A;
	height: 22px;*/
}
.field-item-input .internal-link {
	line-height: 19px;
}
.field-item-input .internal-link.cancel {
    margin-left: 0px;
}
.modal-title-4 {
    border-bottom: none;
    color: #333333;
    font-size: 28px;
    line-height: 32px;
    overflow: hidden;
    padding: 10px 0 0 15px;
    width: 100%;
}
.field-item .field-item-input input[type=text] {
    height: 22px;
    width: 636px;
}
.field-item .post-subscribe {
}
.content-fragment.page-edit .field-item.post-tags .field-item-header {
   
    margin-bottom: 10px;
}
.post-subscribe, .post-feature {
    height: 17px;
}
input#fragment-1537280422_TagBox,{
	width:749px;
}
input#fragment-1773076524_tags {
	width: 619px;
}
.content-fragment.create-edit-post .tab-pane {
    margin-left: 0;
    margin-right: 12px;
}
.content-fragment.page-edit .field-list .field-item .field-item-input {
    position: static;
}
.page {
    padding: 20px 0;
}
.content-fragment.comment-list .content-item {
    border-top: none;
    margin-top: 0;
    padding: 0;
}
.content-fragment.comment-list .content-list-name {
    color: #333333;
    display: inline;
    font-size: inherit;
    font-weight: bold;
    line-height: 14px;
    margin-top: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
}
.content-fragment.thread .full-post .evolution2-post-tags-container {
    border-top: 1px dotted #CCCCCC;
    margin: 0;
    padding: 10px 0;
}
div.reply-wrapper fieldset {
	padding: 0 15px 0 0 !important ;
}
.internal-link.cancel-reply {
    bottom: 27px !important;
    display: inline;
    position: absolute;
    right: 95px !important;
	left:auto !important;
}

/*My Groups widget*/
#fragment-897 .content-list,
#fragment-811 .content-list, {
    list-style: none outside none;
    margin: 40px 0;
    padding: 0;
}
.content-fragment.group-list .content-item {
  min-height:inherit;
  padding:10px 0;
  position:relative;
}
.content-item-chilren {
  padding:10px 0 10px 20px;
  position:relative;
}
.content-fragment.group-list .full-post {
    min-height: 28px;
    padding: 12px 0 10px 28px;
    position: relative;
	margin:0;
}
.content-fragment.group-list .group-name {
    font-size: 25px;
    font-weight: normal;
	white-space:normal !important;
}
.content-fragment.group-list .group-name a {
    font-size: 25px;
    font-weight: normal;
	padding-left: 50px;
	padding-top:5px;
}
.content-fragment.group-list .group-name-children {
    font-size: 25px;
    font-weight: normal;
	padding-left:50px;
}
.content-fragment.group-list .group-name-children a {
    font-size: 20px;
    font-weight: normal;
}
span.group-description-children {
	display:block;
	padding-left: 50px;
}
span.group-avatar-children {
	position:absolute;
	btttom:0;
}
.content-fragment.group-list .group-avatar {
    left: 0;
    padding: 1px;
    position: absolute;
    top: 4px;
}
.content-fragment.group-list .group-description {
    display: block;
    margin: 6px 50px;
}

/*breadcrumbs*/
.breadcrumb-list .breadcrumb-item {
    color: #636363;
    font-weight: normal;
    margin: 0 3px;
	font-size: 13px;
}
/*browse groups*/
.menu .no-subgroups {
    border-bottom: none;
    color: #333333;
    font-size: 12px;
}
/*avatars*/
.avatar img {
    border-radius: 3px 3px 3px 3px;
}
.user-banner .user-avatar img {
    border-radius: 5px 5px 5px 5px;
    border-width: 0;
	max-height: none !important;
	max-width: none !important;
}
.user-banner .user-avatar a > img,
img.avatar_edit {
    border-radius: 7px 7px 7px 7px;
    border-width: 0;
    left: 95px;
    max-width: 44px !important;
    position: absolute;
    top: 95px;
}
.user-banner .user-status {
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 160px;
    width: 465px;
}
.user-banner .user-avatar .edit-avatar {
    background: url("https://netwit2.mower.com/cfs-file.ashx/__key/themefiles/s-aa8056256ecb481bae92f2db9f87e893-files/blue_5F00_pencil_5F00_small.png") no-repeat scroll left center Transparent;
    bottom: -6px;
    font-size: 12px;
    height: 9px;
    left: 94px;
    padding: 0 0 0 11px;
    position: absolute;
    width: 85px;
}
.user-banner .user-avatar {
    background: url("https://netwitservice.mower.com/images/people/default.png") no-repeat scroll left top transparent;
    height: 140px;
    max-width: none !important;
    padding: 2px;
    position: absolute;
    top: 20px;
    width: 140px;
}
.content-fragment.user-banner .user-banner {    
    min-height: 177px;
}

.avatar,
.group-avatar {
	border:none !important;
}
/*wiki*/
.content-fragment.side-border-only {
    margin-top: 20px;
}
.content-fragment.wiki-banner .application-name,
.content-fragment-page.postlist .content-fragment.blog-banner .application-banner .application-name,
.content-fragment.wiki-banner .application-name, .content-fragment-page.postlist .content-fragment.blog-banner .application-banner .application-name a{
    background: none;
    border-bottom: none;
    color: #666666;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    text-transform: uppercase;	
    padding: 8px 0px 12px;
    text-transform: uppercase;
	display:inline-block;
}
.application-banner {
    background: none;
    min-height: 121px;
    padding: 0 5px;
    position: relative;
}
.content-fragment.media-gallery-post-list .query-filter .filter-option.selected a,
.content-fragment.thread-list .filter-option.selected a,
.content-fragment.blog-post-list .query-type span.filter-option.selected a {
    color: #666;
}
.content-fragment.media-gallery-post-list .filter,
.content-fragment.thread-list .filter,
.content-fragment.blog-post-list .filter .query-type   {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: -moz-use-text-color -moz-use-text-color #636363;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: 35px;
    margin: 0 -12px;
    padding: 0;
    position: relative;
}
.content-fragment.media-gallery-post-list .query-filter .filter-option.selected,
.content-fragment.thread-list .filter-option.selected,
.content-fragment.blog-post-list .query-type span.filter-option.selected {
    background: none;
    height: 16px;
}
.content-fragment.blog-post-list div.filter {
    border-top: 0 none;
    margin: 0 0 10px;
    padding: 0;
    position: relative;
}
.content-fragment.media-gallery-post .full-post .post-name .internal-link.download-attachment span {
    background: url("https://netwit2.mower.com/cfs-file.ashx/__key/themefiles/s-aa8056256ecb481bae92f2db9f87e893-files/icon_2D00_download.gif") no-repeat scroll 0 0 transparent;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 13px;
}
.content-fragment.thread-list .filter .separator,
.content-fragment.blog-post-list .query-type span.separator {
    background: none;
    display: inline-block;
    float: left;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 35px 0 0;
    width: 1px;
}
.content-fragment.media-gallery-post .full-post .post-name {
    border-bottom: none;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-right: 85px;
}
.message.norecords {
    background-color:transparent;
    border: none;
    color: #00A2B0;
    padding: 0;
}
.content-fragment.thread-list .table-header {
    border-bottom: none;
    margin-right: 12px;
    position: relative;
}
.content-fragment.thread-list .table-header-column.total-replies-sort, .content-fragment.thread-list .table-column.total-replies {
    text-align: right;
    width: 67px;
}
/*sub-groups widget*/
.view-group {
}
.group-avatar img {
	/*max-height: 18px !important;
	max-width: 18px !important;*/
}
/*upload file*/
li.post-attachment label.field-item-header {
	display:inline;
}
li.post-feature > .field-item-header {
	
}
.field-item {
	position:relative;
}
.field-item-input input[type="checkbox"] {
	left: 0;
    position: absolute;
    top: 7px;
}
div#ctl00_content_ctl02_CheckBoxList  input[type="checkbox"] {
	position:relative;
}

/*facebook feed*/
div.fb_introduction {
	margin: 0 0 15px 0;
}
a.fb_imageAnchor img {
	padding: 0 15px 6px 0;
}
div.facebook-post div.post-attributes {
	display:none !important;
}

/*tinymce on homepage*/

#ctl00_content_ctl00_w_1075_PostBody_toolbar1,
#ctl00_content_ctl00_w_1075_PostBody_backcolor_voice,
#ctl00_content_ctl00_w_1075_PostBody_bullist,
#ctl00_content_ctl00_w_1075_PostBody_numlist,
#ctl00_content_ctl00_w_1075_PostBody_toolbar2 .mceSeparator,
#ctl00_content_ctl00_w_1075_PostBody_outdent,
#ctl00_content_ctl00_w_1075_PostBody_indent,
#ctl00_content_ctl00_w_1075_PostBody_table,
#ctl00_content_ctl00_w_1075_PostBody_anchor,
#ctl00_content_ctl00_w_1075_PostBody_advhr ,
#ctl00_content_ctl00_w_1075_PostBody_backcolor_action,
#ctl00_content_ctl00_w_1075_PostBody_backcolor_open {
	display:none;
}
#ctl00_content_ctl00_w_1037_PostBody_toolbar2 {
	width: 500px !important;
}
.content-fragment.quick-post .evolution2-quickpost-message-form table {
    width: 99% !important;
}
.defaultSkin tr.mceFirst td.mceToolbar, .defaultSkin .mceStatusbar {
    background: none !important;
}
.defaultSkin .mceIframeContainer {
    border-bottom: none !important;
    border-top: 1px solid #CCCCCC;
}
#ctl00_content_ctl00_w_1037_PostBody_tbl {
	width: 900px !important;
}
#ctl00_content_ctl00_w_1037_PostBody_ifr {
	height: 100px !important;
}
.content-fragment.quick-post .field-list .field-item-input .internal-link.advanced-post,
.content-fragment.quick-post .field-list .field-item-input .internal-link.plain-post {
    float: right;
    margin-right: 7px;
}
.content-fragment.quick-post .field-list .field-item-input .internal-link.cancel-post, .content-fragment.quick-post .field-list .field-item-input .internal-link.advanced-post {
    height: 34px;
    line-height: 34px;
    margin-left: 16px;
	text-decoration:none;
}

/*OOF*/

/*team manager*/
#teamManagerTimesheets {
	padding: 30px 0;
}
#teamManagerTimesheets td {
	border-bottom: 1px solid #ccc;
}





.breadcrumb-list .internal-link.view-home {
    display: none !important;
}

/*timesheet report*/
table.timesheet_report {
    margin: 10px;
}
    table.timesheet_report td {
        padding: 10px;
        font-size:13px !important;
    }
    table.timesheet_report tr.late 
    {
        background-color:Red;
        color:#fff;
    }
    table.timesheet_report tr.not_enough 
    {
        background-color:yellow;
    }
	
	
	
/*birthdays on homepage*/

#birthdays {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 177px;
}

/*people widget*/
div#peopleListNav {
	border-bottom:1px solid #666;
	width:100%;
	overflow:auto;
	margin:20px 0;
}
div#peopleListNav a {
	float: left;
    margin-right: 1px;
    right: 0;
    top: 1px;
}
td.hiddensort {
	display:none;
}
td.photoBg {
	background:url('https://netwitservice.mower.com/images/people/default.png') no-repeat top left;
}

#photo img.peopleAvatar {
    border-radius: 7px 7px 7px 7px;
    left: 95px;
    position: absolute;
    top: 95px;
    width: 50px;
}
	#photo span {
		color: #00A2B0;
		left: 10px;
		position: absolute;
		top: 13px;
		transform: rotate(-15deg);
		-ms-transform:rotate(-15deg); /* IE 9 */
		-webkit-transform:rotate(-15deg); /* Safari and Chrome */
	}
table#userTable {
	width:100%;
	border-spacing:0;
}
#userTable div#photo {
    min-height: 170px;
    position: relative;
}
.tablesorter tr.odd {
	background:#f2f2f2;
}
/* filter row */
.tablesorter-filter-row td {
  background: #eee;
  line-height: normal;
  text-align: center; /* center the input */
  -webkit-transition: line-height 0.1s ease;
  -moz-transition: line-height 0.1s ease;
  -o-transition: line-height 0.1s ease;
  transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-filter-row .disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: not-allowed;
}

/* hidden filter row */
.tablesorter-filter-row.hideme td {
  /*** *********************************************** ***/
  /*** change this padding to modify the thickness     ***/
  /*** of the closed filter row (height = padding x 2) ***/
  padding: 2px;
  /*** *********************************************** ***/
  margin: 0;
  line-height: 0;
  cursor: pointer;
}
.tablesorter-filter-row.hideme .tablesorter-filter {
  height: 1px;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  /* don't use visibility: hidden because it disables tabbing */
  opacity: 0;
  filter: alpha(opacity=0);
}

/* filters */
.tablesorter-filter {
  width: 95%;
  height: inherit;
  margin: 4px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #bbb;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: height 0.1s ease;
  -moz-transition: height 0.1s ease;
  -o-transition: height 0.1s ease;
  transition: height 0.1s ease;
}
